{% macro club_card(club) %}
  <div class="box-shadow-sm md:p-6 p-2 md:mb-6 mb-2 rounded-lg bg-white border border-gray-200 shadow-md text-left max-w-xl mx-auto">
    <div class="flex">
      <div class="flex-none mr-4">
        {% if club.logo_url %}
        <div class="mb-4 flex justify-start -mt-4">
          <img class="h-32 w-32 object-contain" src="{{ club.logo_url }}" alt="{{ club.name }} Logo">
        </div>
        {% endif %}
      </div>
      <div class="flex-auto">
        <div class="mb-2 flex items-center justify-between">
          <h4 class="text-2xl font-bold text-indigo-800">{{ club.name }}</h4>
        </div>
        <div class="mb-2">
          <span class="px-2 py-1 bg-indigo-100 text-indigo-700 rounded text-xs font-semibold">{{ club.call_signs }}</span>
        </div>
      </div>
    </div>
    {% if club.home_city %}
    <div class="text-gray-700">
      <strong>Home City:</strong> {{ club.home_city }}
    </div>
    {% endif %}
    <div class="mb-4 text-gray-600">
      <strong>Description:</strong> {{ club.description }}
    </div>
    {% if club.website_link %}
    <div class="mb-2 text-gray-700 justify-right text-right">
      <a class="text-blue-600 underline" href="{{ club.website_link }}" target="_blank" rel="noopener noreferrer">Visit Club Site</a>
    </div>
    {% endif %}
  </div>
{% endmacro %}