{% set officials = [
  { role: "Section Manager", name: "William S. Mitchell", callsign: "AE0EE", email: "ae0ee@arrl.org"},
  { role: "State Government Liason", name: "Guillermo E. Narvaez",  callsign: "N0GUI"},
  { role: "Assistant Section Manager", name: "Richard L. Roberts", callsign:"N0UC"},
  { role: "Assistant Section Manager", name: "David A. Glas", callsign:"W0OXB"},
  { role: "Section Youth Coordinator", name: "Kees M. Van Oosbree", callsign:"W0AAE"},
  { role: "Affiliated Club Coordinator", name: "Don Kelly", callsign:"WA6ZMT"},
  { role: "Section Emergency Coordinator", name: "Benton Jackson", callsign:"K0BHJ"},
  { role: "Technical Coordinator", name: "Jordan Goetze", callsign:"K0HBK"}
] %}
