{% set quick_links = [
  { name: "Technical Request Contact Form", link: "https://forms.gle/a26yUukNeDgtTB1o6"},
  { name: "Event Submission Form", link: "https://forms.gle/qhkz16kasbATVsBL9"},
  { name: "Minnesota ARES", link: "https://www.minnesotaares.org/"}
] %}