{% extends "./templates/grail.njk" %}

{%set page_title = "Clubs" %}

{% block content %}
  <div class="flex gap-4">
    <div class="w-6 flex-auto">
      <p>This is the clubs page</p>
    </div>
  </div>
{% endblock %}
