{% extends "./templates/grail.njk" %}
{% import "./data/announcements.njk" as announcements %}
{% import "./data/officials.njk" as officials %}
{% import "./data/quick_links.njk" as quick_links %}
{% import "./templates/announcements.njk" as announcement_macros %}
{% import "./templates/officials.njk" as officials_macros %}
{% import "./templates/quick_links.njk" as quick_links_macros %}

{% set page_title = "Home" %}

{% block header %}
    <div class="gap-2 md:gap-4 justify-center text-center p-2 md:p-0">
      <h2 class="text-3xl font-bold text-indigo-800 mt-2 md:mt-6 mt-4 mb-6 md:mb-2">
        Welcome to the ARRL Minnesota Section
      </h2>
      <p>
        This is the official website for the ARRL Minnesota Section.
      </p>
    </div>
{% endblock %}

{% block content %}
  <div class="flex-auto grid grid-cols-2 md:gap-4 gap-2">
    <div class="col-span-2 md:col-span-1">
      {{ announcement_macros.announcement_list(announcements) }}
    </div>
    <div class="col-span-2 md:col-span-1">
      {{ officials_macros.officials_list(officials) }}
      {{ quick_links_macros.quick_links_list(quick_links) }}
    </div>
  </div>
{% endblock %}

{% block right_sidebar%}
  <center class="collapse md:visible">
    <a href="https://www.hamqsl.com/solar.html" title="Click to add Solar-Terrestrial Data to your website!"><img src="https://www.hamqsl.com/solarvhf.php"></a>
  </center>
{% endblock %}