{% extends "./templates/grail.njk" %}
{% import "./templates/announcements.njk" as announcements %}
{% import "./templates/officials.njk" as officials %}
{% import "./templates/quick_links.njk" as quick_links %}

{% block header %}
    <div class="gap-4 justyfy-center text-center">
      <h2 class="text-3xl font-bold text-indigo-800 mt-6 mb-8">
        Welcome to the ARRL Minnesota Section
      </h2>
      <p>
        This is the official website for the ARRL Minnesota Section.
      </p>
    </div>
{% endblock %}

{% block content %}
  <div class="w-6 flex-auto">
    <h3 class="text-2xl font-bold text-indigo-800 mt-6">
      Announcements:
    </h3>
    <ul class="list-disc list-inside">
      {% for item in announcements.announcements %}
        <li>{{ item.date }} - {{ item.message }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="w-6 flex-auto">
    <h3 class="text-2xl font-bold text-indigo-800 mt-6">
      Officials:
    </h3>
    <div>
      {% for item in officials.officials %}
        <p>
          <strong>{{ item.role }}:</strong> 
          {% if item.email %}
            {{ item.name }} (<a class="text-blue-600" href="mailto:{{ item.email }}">Contact</a>)
          {% else %}
            {{ item.name }}
          {% endif %}
        </p>
      {% endfor %}
    </div>
    <h3 class="text-2xl font-bold text-indigo-800 mt-6">
      Quick Links:
    </h3>
    {% for item in quick_links.quick_links %}
      <ul class="list-disc list-inside">
        <li>
          <a class="text-blue-600" href="{{ item.link }}" target="_blank" rel="noopener noreferrer">{{ item.name }}</a>
        </li>
      </ul>
    {% endfor %}
  </div>
{% endblock %}

{% block right_sidebar%}
  <center>
    <a href="https://www.hamqsl.com/solar.html" title="Click to add Solar-Terrestrial Data to your website!"><img src="https://www.hamqsl.com/solarvhf.php"></a>
  </center>
{% endblock %}