{% extends "./templates/grail.njk" %}


{% block content %}
  <div class="flex gap-4">
    <div class="w-6 flex-auto">
      <p>Some content</p>
    </div>
    <div class="w-6 flex-auto">
      <p>Some more content</p>
    </div>
  </div>
{% endblock %}
