{% extends "./templates/grail.njk" %}

{%set page_title = "Resources" %}

{% block content %}
  <div class="flex-auto gap-4 text-center justify-center">
    <p>This is the resources page. More content coming soon!</p>
  </div>
{% endblock %}
