{% set announcements = [
  {
    date: "2025-10-26",
    message: "Call for submissions: <a class=\"text-blue-600\" target=\"_blank\" href=\"https://www.arrl.org/news/arrl-year-of-the-club-website-contest-call-for-submissions\">ARRL Year of the Club Website Contest</a>"
  },
  {
    date: "2025-09-04",
    message: "New Website"
  }
] %}
