{% set twin_cities_metro_clubs = [
  { 
    name: "Richfield amateur Radio Club", 
    home_city: "Richfield, MN",
    description: "The Richfield Amateur Radio Club welcomes all current, returning, and aspiring amateur radio enthusiasts. We are dedicated to the promotion and encouragement of amateur radio in the City of Richfield Minnesota, and the surrounding Twin Cities area. In addition to hosting nets and meetings, the club holds operating events throughout the year, including Field Day events. We encourage anyone interested in amateur radio to reach out and join us.",
    website_link: "https://w0rrc.org/",
    logo_url: "https://w0rrc.org/wp-content/uploads/2025/04/cropped-RARC-Logo-1.jpg",
    call_signs: "W0RRC"
  },
  { 
    name: "Twin Cities FM Club", 
    home_city: "St. Louis Park, MN",
    description: "Ham Radio serves communities providing emergency communication operations in times of hazardous weather and civil discourse.  The mission of Twin Cities FM Club is to serve the community during these emergencies; to educate new and existing operators with emerging technologies; to provide local repeater frequencies for free communications. We do a weekly amateur radio news, information and over the air swap net. We develop processes for the betterment of the local ham radio community, through education programs and public invited events. We work with cities and county agencies on emergency communications and assist with event communication support.",
    website_link: "https://tcfmc.org/",
    logo_url: "https://tcfmc.org/wp-content/uploads/2023/05/TCFMC-NEW-WEB-HEAD-e1685034674983.jpg",
    call_signs: "W0EF"
  },
  { 
    name: "Twin Cities Repeater Club", 
    home_city: "Burnsville, MN",
    description: "The Twin Cities Repeater Club (TCRC) is a charitable public service organization, incorporated as a non-profit Minnesota corporation, that owns and operates four VHF and UHF repeaters in the Minneapolis/Saint Paul metropolitan area. These repeaters operate on output frequencies of 53.37 MHz, 147.21 MHz, 224.54 MHz, and 444.3 MHz.",
    website_link: "http://www.tcrc.org/",
    logo_url: null,
    call_signs: "W0BU"
  },
  { 
    name: "Maple Grove Amateur Radio Club", 
    home_city: "Maple Grove, MN",
    description: "The K0LTC organization has been around since the days of Civil Defense. The club has always been a service oriented club providing assistance to public safety, hospitals, parades, bike tours, and antique car runs to mention a few.",
    website_link: "https://k0ltc.org/",
    logo_url: "https://k0ltc.org/wp-content/uploads/2017/12/MGLOGOArtboard-1114.png",
    call_signs: "K0LTC"
  },
  { 
    name: "Southeast Metro Amateur Radio Club", 
    home_city: "Cottage Grove, MN",
    description: "The South East Metro Amateur Radio Club (SEMARC) is incorporated as a 501(c)(3) organization under the laws of Minnesota. The Club was formed in 1988 and has been in continuous operation since then. SEMARC is a general interest amateur radio club devoted to serving its members, the amateur radio community in general, and the broader communities in which our members live. It is affiliated with ARRL (The National Association for Amateur Radio®) and supports the member, educational, charitable and education programs of that association.",
    website_link: "https://www.semarc.org/",
    logo_url: "https://www.semarc.org/_borders/semarc_wf.jpg",
    call_signs: "W0CGM"
  },
  { 
    name: "Anoka County Radio Club", 
    home_city: "Anoka, MN",
    description: "The Anoka County Radio Club is a group of Amateur (Ham) Radio enthusiasts that support each other and our community in Anoka County. ",
    website_link: "http://www.anokaradio.org/joomla/",
    call_signs: "W0YFZ"
  },
  { 
    name: "Minnesota Amateur Group of Independent Communicators (M.A.G.I.C.)", 
    home_city: "St. Paul, MN",
    description: "The M.A.G.I.C. club owns and operates repeaters in St. Paul, Hugo, Foreston, and North Branch Minnesota.",
    website_link: "http://www.magicrepeater.net/",
    call_signs: "K0GOI, N0SBU, N0GOI"
  },
  { 
    name: "Stillwater Amateur Radio Association (SARA)", 
    home_city: "Stillwater, MN",
    description: "A leading Amateur Radio club based in Stillwater, Minnesota; SARA is made-up of more than 150 members in Minnesota, Wisconsin, Iowa, S. Dakota, Illinois, Colorado, and Canada. We meet in Stillwater and are affiliated with the American Radio Relay League (ARRL) and Amateur Radio Emergency Service (ARES) and Courage Kenney Handihams. Recognized for continued achievement, SARA has the distinction of being one of only a few ARRL Special Service Clubs in the Midwest.",
    website_link: "https://radioham.org/",
    logo_url: null,
    call_signs: "W0JH, KB0SCE"
  },
  { 
    name: "Northern Lights Radio Society", 
    home_city: null,
    description: "The Northern Lights Radio Society is an organization of Upper Midwest amateur radio operators who are active in weak signal SSB, CW, and digital work on the VHF, UHF, and microwave bands. The majority of our members are located in the Twin Cities of Minneapolis and St. Paul, Minnesota, but we also have members in North and South Dakota, Illinois, Iowa, Michigan, Missouri, Nebraska, Wisconsin, and Canada.",
    website_link: "https://nlrs.club/",
    logo_url: "https://nlrs.club/nlrslogo.gif",
    call_signs: "W0AUS"
  },
  { 
    name: "Southwest Metro Amateur Radio Transmitting Society (SMARTS)", 
    home_city: "Chaska, MN",
    description: "Welcome to the Southwest Metro Amatuer Radio Transmitting Society, also known as SMARTS. We are an amateur (ham) radio club, with members licensed or seeking their license under Part 97 FCC Rules by the FCC in the Amateur Radio Service. Members operate communications equipment to communicate with others locally, out-state and around the world.",
    website_link: "https://smartsonline.org/",
    logo_url: null,
    call_signs: "WB0RMK"
  }
] %}

  {#
  { 
    name: "Minnesota Amateur Radio Technical Society", 
    home_city: "Minnetonka, MN",
    description: "Minnesota Amateur Radio Technical Society was formed in March 2012 with the purpose of furthering the technical side of amateur radio. Our intent is to expand this site to make available presentations from our meetings, general technical resources relating to amateur radio, and provide a forum for technical discussion.",
    website_link: "https://www.mn-arts.org/",
    logo_url: null,
    call_signs: null
  },
  { 
    name: "Isanti County Radio Club", 
    home_city: "Isanti, MN",
    description: "Isanti County Radio Club (ICRC) welcomes all licensed and unlicensed individuals who are interested in ham radio to attend our meetings. We are an innovative ham club and welcome discussion at all levels. We are also eager to help those thinking about getting their license answer any questions and to help grow the ham community.",
    website_link: "https://isantiradio.org/",
    logo_url: "https://isantiradio.org/wp-content/uploads/2025/09/cropped-New-Blue-Logo-1-copy.jpg",
    call_signs: "W0ICR"
  },
  #}

{% set northern_minnesota_clubs = [
  { 
    name: "Detroit Lakes Amateur Radio Club", 
    home_city: "Detroit Lakes, MN",
    description: "Welcome to the Detroit Lakes Amateur Radio Club! We are a friendly group of enthusiasts dedicated to promoting the hobby, serving our community, and helping new people get on the air. Founded in 1956, our club is built on a long history of technical exploration and camaraderie.",
    website_link: "https://www.w0emz.org/",
    logo_url: null,
    call_signs: "W0EMZ"
  },
  { 
    name: "Arrowhead Amateurs Club", 
    home_city: "Duluth, MN",
    description: "The Arrowhead Amateurs Club was founded over 88 years ago (Dec 03, 1929) to promote the growth and enjoyment of ham radio in the northeastern Minnesota and northwestern Wisconsin area.",
    website_link: "https://thearac.org/index.html",
    logo_url: null,
    call_signs: "W0GKP"
  },
  { 
    name: "Vermillion Range Radio Amateurs Club", 
    home_city: "",
    description: "",
    website_link: "https://www.vermilionrangearc.org",
    logo_url: null,
    call_signs: "K0VRC"
  }
] %}

{#
  { 
    name: "Nothern Lakes Amateur Radio Club", 
    home_city: "Grand Rapids, MN",
    description: "The Northern Lakes Amateur Radio Club was founded in 1974 and quickly grew from five members. It became incorporated in 1977 and gained 501(c)(3) status in 1978. The club installed its first 2-meter repeater in Deer River, MN, and became active in Skywarn in 1979. In the early 1980s, it began offering amateur radio classes and joined RACES in 1985. The club also initiated the Care Trak system in 1989 and added another repeater at the Suomi site in 1990.",
    website_link: "http://www.northernlakesamateurradioclub.org/",
    logo_url: null,
    call_signs: "K0GPZ"
  },
#}