{% set twin_cities_metro_clubs = [
  { 
    name: "Richfield amateur Radio Club", 
    home_city: "Richfield, MN",
    description: "The Richfield Amateur Radio Club welcomes all current, returning, and aspiring amateur radio enthusiasts. We are dedicated to the promotion and encouragement of amateur radio in the City of Richfield Minnesota, and the surrounding Twin Cities area. In addition to hosting nets and meetings, the club holds operating events throughout the year, including Field Day events. We encourage anyone interested in amateur radio to reach out and join us.",
    website_link: "https://w0rrc.org/",
    logo_url: "https://w0rrc.org/wp-content/uploads/2025/04/cropped-RARC-Logo-1.jpg",
    call_signs: "W0RRC"
  },
  { 
    name: "Twin Cities FM Club", 
    home_city: "St. Louis Park, MN",
    description: "Ham Radio serves communities providing emergency communication operations in times of hazardous weather and civil discourse.  The mission of Twin Cities FM Club is to serve the community during these emergencies; to educate new and existing operators with emerging technologies; to provide local repeater frequencies for free communications. We do a weekly amateur radio news, information and over the air swap net. We develop processes for the betterment of the local ham radio community, through education programs and public invited events. We work with cities and county agencies on emergency communications and assist with event communication support.",
    website_link: "https://tcfmc.org/",
    logo_url: "https://tcfmc.org/wp-content/uploads/2023/05/TCFMC-NEW-WEB-HEAD-e1685034674983.jpg",
    call_signs: "W0EF"
  },
  { 
    name: "Twin Cities Repeater Club", 
    home_city: "Burnsville, MN",
    description: "The Twin Cities Repeater Club (TCRC) is a charitable public service organization, incorporated as a non-profit Minnesota corporation, that owns and operates four VHF and UHF repeaters in the Minneapolis/Saint Paul metropolitan area. These repeaters operate on output frequencies of 53.37 MHz, 147.21 MHz, 224.54 MHz, and 444.3 MHz.",
    website_link: "http://www.tcrc.org/",
    logo_url: null,
    call_signs: "W0BU"
  },
  { 
    name: "Maple Grove Amateur Radio Club", 
    home_city: "Maple Grove, MN",
    description: "The K0LTC organization has been around since the days of Civil Defense. The club has always been a service oriented club providing assistance to public safety, hospitals, parades, bike tours, and antique car runs to mention a few.",
    website_link: "https://k0ltc.org/",
    logo_url: "https://k0ltc.org/wp-content/uploads/2017/12/MGLOGOArtboard-1114.png",
    call_signs: "K0LTC"
  },
  { 
    name: "Southeast Metro Amateur Radio Club", 
    home_city: "Cottage Grove, MN",
    description: "The South East Metro Amateur Radio Club (SEMARC) is incorporated as a 501(c)(3) organization under the laws of Minnesota. The Club was formed in 1988 and has been in continuous operation since then. SEMARC is a general interest amateur radio club devoted to serving its members, the amateur radio community in general, and the broader communities in which our members live. It is affiliated with ARRL (The National Association for Amateur Radio®) and supports the member, educational, charitable and education programs of that association.",
    website_link: "https://www.semarc.org/",
    logo_url: "https://www.semarc.org/_borders/semarc_wf.jpg",
    call_signs: "W0CGM"
  },
  { 
    name: "Minnesota Amateur Radio Technical Society", 
    home_city: "Minnetonka, MN",
    description: "Minnesota Amateur Radio Technical Society was formed in March 2012 with the purpose of furthering the technical side of amateur radio. Our intent is to expand this site to make available presentations from our meetings, general technical resources relating to amateur radio, and provide a forum for technical discussion.",
    website_link: "https://www.mn-arts.org/",
    logo_url: null,
    call_signs: null
  }
] %}
