{% set officials = [
  { role: "Section Manager", name: "William S. Mitchell", call_sign: "AE0EE", email: "ae0ee@arrl.org" },
  { role: "State Government Liason", name: "Guillermo E. Narvaez", call_sign: "N0GUI "},
  { role: "Assistant Section Manager", name: "Richard L. Roberts", call_sign: "N0UC"},
  { role: "Assistant Section Manager", name: "David A. Glas", call_sign: "W0OXB"},
  { role: "Section Youth Coordinator", name: "Kees M. Van Oosbree", call_sign: "W0AAE"},
  { role: "Affiliated Club Coordinator", name: "Don Kelly", call_sign: "WA6ZMT"},
  { role: "Section Emergency Coordinator", name: "Benton Jackson", call_sign: "K0BHJ"},
  { role: "Technical Coordinator", name: "Jordan Goetze", call_sign: "K0HBK", email: "k0hbk@jordan-goetze.com"}
] %}
