{% set quick_links = [
  { name: "ARRL - What is Ham Radio?", link: "https://www.arrl.org/what-is-ham-radio"},
  { name: "How to Get Lisenced!", link: "https://hamstudy.org/content/how"},
  { name: "Request Ham Radio Technical Support", link: "https://forms.gle/fd7VJkvxtQ76WwFZ9" },
  { name: "MN ARES", link: "https://www.minnesotaares.org/" }
] %}
