{% set quick_links = [
  { name: "ARRL National", link: "https://www.arrl.org/" },
  { name: "MN Section News", link: "https://www.mnarrl.org/news" },
  { name: "MN Clubs", link: "https://www.mnarrl.org/clubs" }
] %}
